In [1]:
class python:
    def fun(self):
        print("welcome to oops")
pyt=python()
pyt.fun()

welcome to oops

In [16]:
class car:
    'common_car'
    car=0
    def __init__(self,name,id):
        self.name=name
        self.id=id
        car.car+=1

    def printCardata(self):
        print("name",self.name,"id",self.id)
c=car("audi",200000)
c2=car("porshe",1000000)
print("total car",car.car)

c.printCardata()
c2.printCardata()

total car 2
name audi id 200000
name porshe id 1000000

In [12]:
class employee:
    def __init__(self,n,a,s):
        self.name=n
        self.age=a
        self.salary=s
    def display_data(self):
        print(self.name,self.age,self.salary)
e1=employee("mahesh",26,200000)
e1.display_data()

mahesh 26 200000

In [14]:
class birds:
    def __init__(self,nest,egg,s):
        self.n=nest
        self.e=egg
        self.salary=s
    def display_data(self):
        print(self.nest,self.egg,self.s)
e1=employee("live in nest",2,0)
e1.display_data()

live in nest 2 0

In [18]:
class test:
    def __init__(self):
        self.v='car'
        self.change(self.v)
    def change(self,var):
        var='bike'
obj=test()
print(obj.v)

car

In [3]:
#overriding
class animal:
    def sound(self):
        print("some generic siund")

class dog(animal):
    def sound(self):
        print("bark")

class cat(animal):
    def  sound(self):
        print("meow")

dog=dog()
cat=cat()
dog.sound()
cat.sound()

bark
meow

In [ ]:
#overriding
class calculate()
    def sound(self):
        print("some generic siund")

class (animal):
    def sound(self):
        print("bark")

class cat(animal):
    def  sound(self):
        print("meow")

dog=dog()
cat=cat()

In [5]:
class calculator:
    def add(self,num1,num2):
        self.num1=num1;
        self.num2=num2;
        return self.num1+self.num2
    def sub(self,num1,num2):
        self.num1-num2;
        
class advancedcalculator(calculator):
    def mul(self,num1,num2):
        print("multiplication",num1*num2)
    def div(self,num1,num2):
        return num1//num2;

x=advancedcalculator()
num1=int(input())
num2=int(input())
print("addition : %d"%(x.add(num1,num2)))
print("sub :",x.sub(num1,num2))
x.mul(num1,num2)
print("floor division: %d"%(x.div(num1,num2)))

 4
 3

addition : 7
sub : None
multiplication 12
floor division: 1

In [3]:
class Animal:
    def sound(self):
        print("Animal ")

class Bird:
    def fly(self):
        print("Bird can fly")
        
class Parrot(Animal, Bird):
    def speak(self):
        print("Parrot is green")
parrot=Parrot()
parrot.sound() 
parrot.fly()    
parrot.speak()

Animal
Bird can fly
Parrot is green

In [4]:
class NormalRoom:
    def calculate(self, no_rooms, days):
        if days == 1:
            rent_per_room_per_day = 300
        elif days <= 5:
            rent_per_room_per_day = 250
        else:
            rent_per_room_per_day = 200
        
        total_rent = no_rooms * days * rent_per_room_per_day
        return total_rent

class AcRoom:
    def calculate(self, no_rooms, days):
        if days == 1:
            rent_per_room_per_day = 500
        elif days <= 5:
            rent_per_room_per_day = 450
        else:
            rent_per_room_per_day = 400
        
        total_rent = no_rooms * days * rent_per_room_per_day
        return total_rent

class Hotel(NormalRoom, AcRoom):
    def calculate_total_rent(self, no_normal_rooms, no_ac_rooms, days):
        normal_room_rent = super(NormalRoom, self).calculate(no_normal_rooms, days)
        ac_room_rent = super(AcRoom, self).calculate(no_ac_rooms, days)
        return normal_room_rent + ac_room_rent

no_normal_rooms = 2
no_ac_rooms = 1
days = 3

normal_room = NormalRoom()
ac_room = AcRoom()
hotel = Hotel()

normal_rent = normal_room.calculate(no_normal_rooms, days)
ac_rent = ac_room.calculate(no_ac_rooms, days)
total_rent = hotel.calculate_total_rent(no_normal_rooms, no_ac_rooms, days)

print(f"Normal rooms rent for {no_normal_rooms} rooms for {days} days: {normal_rent}")
print(f"AC rooms rent for {no_ac_rooms} rooms for {days} days: {ac_rent}")
print(f"Total rent for the hotel: {total_rent}")

AttributeError: 'super' object has no attribute 'calculate'

In [21]:
class Person:
    def __init__(self, name):
        self.name = name

    def display(self):
        print("the name of the person")

class staff(Person):
    def __init__(self,id,name):
        self.name = name
        self.id =id

    def display(self):
        print("the id is ",id)

class tempstaff(staff):
    def __init__(self,name,hours,id):
        self.hours=hours
        self.id=id

    def display(self):
        print("the salary earned is")


    def salary(self):
        salary_earned = self.hours * 150
        return salary_earned

person = Person("Alice")
person.display()

staff = staff("Bob", 101)
staff.display()

tempstaff=tempstaff("Charlie", 202, 40)
tempstaff.display()
print(f"Salary earned is {tempstaff.salary()}")

the name of the person
the id is  <built-in function id>
the salary earned is
Salary earned is 30300

In [2]:
class check:
    def odd_even(self):
        _n=int(input())
        if _n%2==0:
            print("even")
        else:
            print("odd")

ob=check()
ob.odd_even()

 65

odd